{# To be included before forms, to show to users the special formatting they can use #}

<ul class="formatting-help">
    <li>
        <pre>*italique*</pre>
        : <span class="italic">italique</span>
    </li>
    <li>
        <pre>**gras**</pre>
        : <span class="bold">gras</span>
    </li>
    <li>
        <pre>__souligné__</pre>
        : <span class="underline">souligné</span>
    </li>
    <li>
        <pre>[Lien](https://example.com)</pre>
        : <a href="https://example.com">Lien</a>
    </li>
    <li>
        <pre>#Titre</pre>
        : <span class="title">Titre</span>
    </li>
</ul>
