{% extends 'base.html.twig' %}

{% block body %}

        <main role="main" class="container">
            <h1>Administration</h1>
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ path('admin_editions') }}" class="btn btn-danger btn-lg btn-block btn-admin">Gestion des éditions</a>
                </div>
                <div class="col-md-4">
                    <a href="" class="btn btn-danger btn-lg btn-block btn-admin">Link</a>
                </div>
                <div class="col-md-4">
                    <a href="" class="btn btn-danger btn-lg btn-block btn-admin">Link</a>
                </div>
            </div>
        </main><!-- /.container -->

{% endblock %}