{% extends 'base.html.twig' %}

{% block customcss %}
	<link rel="stylesheet" href="/css/affiches.css"/>
{% endblock %}

{% block mainPage %}
	<section class="landing_page"></section>
{% endblock %}

{% block body %}

	<div class="poster-header">
		<h1 class="titre small">
			Affiches
		</h1>

		<p>A l'instar des plus grandes associations de ce pays, le FOG possède une équipe grapgique hors du commun qui
		au fil des années a conconctée les plus belles affiches jamais crées. Sur cette page, elles y sont humblement
		exposées</p>
	</div>

	<section class="afficheWrapper">
		<article class="scroll-animation">
			<a href="img/affiche_XX.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_XX.webp"></a>
			<h3>Fog XX</h3>
			<p>Umbra, Le Pingouin Anonyme, Perceneige</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_XX.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_XIX.webp"></a>
			<h3>Fog XIX</h3>
			<p>Perceneige, Umbra</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_XVIII.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_XVIII.webp"></a>
			<h3>Fog XVIII</h3>
			<p>Gregre, Lheira</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_XVII.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_XVII.webp"></a>
			<h3>Fog XVII</h3>
			<p>Catnip, Gregre, Lheira</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_XVI.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_XVI.webp"></a>
			<h3>Fog XVI</h3>
			<p>Carrion, Gregre</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_XV.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_XV.webp"></a>
			<h3>Fog XV</h3>
			<p>Carrion, Lheira</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_XIV.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_XIV.webp"></a>
			<h3>Fog XIV</h3>
			<p>Teazane</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_XIII.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_XIII.webp"></a>
			<h3>Fog XIII</h3>
			<p>Pikachu</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_XII.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_XII.webp"></a>
			<h3>Fog XII</h3>
			<p>Zygomatix</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_XI.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_XI.webp"></a>
			<h3>Fog XI</h3>
			<p>Antoine P.</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_X.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_X.webp"></a>
			<h3>Fog X</h3>
			<p>Nafraat</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_IX.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_IX.webp"></a>
			<h3>Fog IX</h3>
			<p>Pao</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_VIII.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_VIII.webp"></a>
			<h3>Fog VIII</h3>
			<p>Bastien P.</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_VII.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_VII.webp"></a>
			<h3>Fog VII</h3>
			<p>Cedric M.</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_VI.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_VI.webp"></a>
			<h3>Fog VI</h3>
			<p>??</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_V.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_V.webp"></a>
			<h3>Fog V</h3>
			<p>??</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_IV.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_IV.webp"></a>
			<h3>Fog IV</h3>
			<p>Lerab</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_III.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_III.webp"></a>
			<h3>Fog III</h3>
			<p>Clément L.</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_II.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_II.webp"></a>
			<h3>Fog II</h3>
			<p>Strange</p>
		</article>
		<article class="scroll-animation">
			<a href="img/affiches/affiche_I.webp"><img  loading="lazy" alt="Affiche FOG" src="img/affiches/affiche_I.webp"></a>
			<h3>Fog I</h3>
			<p>Stéphane A., Morgane R.</p>
		</article>
	</section>
	<script src="{{ asset('js/scrolledHeader.js') }}"></script>
	<script src="{{ asset('js/revealOnScroll.js') }}"></script>

{% endblock %}
