{% extends 'base.html.twig' %}

{% block body %}

        <h1>Nous contacter</h1>
        Pour toute question en lien avec notre activité ou avec le festival, n'hésitez pas à rejoindre <a href="https://discord.gg/4cAVxqc">notre serveur Discord</a> où vous pourrez retrouver toute l'équipe. 
        Si vous avez des questions plus importantes où si vous êtes timides, vous pouvez également nous contacter sur notre adresse mail : <pre>oeilglauque@gmail.com</pre>


{% endblock %}