{% extends 'base.html.twig' %}

{% block customcss %}
	<link rel="stylesheet" href="/css/contact.css"/>
{% endblock %}

{% block body %}

	<div class="row center" id="contacts">
		<h1>
			<img src="img/contact.png"/>
		</h1>

		<p>
			Retrouvez-nous sur les réseaux sociaux!
		</p>
	</div>

        


{% endblock %}
