{% extends 'base.html.twig' %}

{% block body %}
		        <div class="row">
			<div class="center" id="conex">
				<img src="img/contact.png" height="200px"></img>
			</div>
        <h1>Retrouvez-nous sur les réseaux sociaux</h1>
        


{% endblock %}