{% extends 'base.html.twig' %}
{% block body %}
    {% if not mailsent %}
        <h1> Vous avez <strong>perdu</strong> votre mot de passe?</h1>
        Veuillez saisir votre adresse mail pour le réinitialiser
        <br><br>
        <div class="well col-lg-10">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit"> Reset password</button>
            {{ form_end(form) }}
        </div>
    {% else %}
        <h1> Confirmation</h1>
        Un email a été envoyé à l'adresse spécifiée. Suivez le lien du mail pour réinitialiser votre mot de passe.
        <br><br>
        <a href="{{ path('index') }}"> Retour à l'accueil du site</a>
    {% endif %}
{% endblock %}