{% extends 'base.html.twig' %}

{% block body %}

        <main role="main" class="container">
            <h1>Liste des parties</h1>
            {% for g in games %}
                {{ include('oeilglauque/shards/game.html.twig', 
                            {
                                'game': g
                            }) }}
            {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <p>Il n'y a pas encore de partie cette année... Revenez bientôt !</p>
                </div>
            </div>
            {% endfor %}
        </main><!-- /.container -->

{% endblock %}