{% extends 'base.html.twig' %}

{% block customcss %}
        <link rel="stylesheet" href="css/index.css"/>
{% endblock %}

{% block body %}

        <img src="img/index.png" alt="Le Festival de l'Oeil Glauque"/>

        <p class="lead">
                <strong>Jeux de rôle et jeux de plateau vous attendent à la dix-septième édition du Festival de l'Oeil Glauque !</strong>
                <br/>

                Pendant 48h vous pourrez profiter de séances de jeux de rôle, découvrir notre ludothèque de plus de 150
                jeux de plateau ou faire des parties de loup-garou acharnées.
                Au cours du week-end n’hésitez pas à prendre part à une murder-party, un escape game, ainsi qu'à des
                tournois de Magic ou Warhammer.
                Vous pourrez aussi tout simplement venir profiter de l'ambiance et de nos sandwichs, pizzas, burgers et
                autres friandises et boissons,
                notamment nos crêpes et nos fameux 3D6 !
        </p>

        <img src="img/deco_bas.png" id="deco"/>

{% endblock %}
