{% extends 'base.html.twig' %}

{% block customcss %}
        <link rel="stylesheet" href="css/index.css"/>
{% endblock %}

{% block body %}

        <img src="img/index.png" alt="Le Festival de l'Oeil Glauque"/>

        <p class="lead">
                <strong>Oyez Voyageurs ! Bienvenue sur le site du Festival de l’&OElig;il Glauque !</strong>
                <br/>
                Comment cela&nbsp;? Vous ne savez point qui nous sommes&nbsp;??? Nous sommes l'association de jeux de rôle et de jeux de plateau de l’INSA Rennes pardi&nbsp;!
                Et nous organisons chaque année un festival de jeux où nos bénévoles seront ravis de t’accueillir pour te guider dans cette aventure de 48h.
                Alors rendez-vous à notre prochaine édition&nbsp;!
        </p>
		
		<iframe width="630" height="355" src="https://www.youtube-nocookie.com/embed/Qb0fA_ii_cg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <img src="img/deco_bas.png" id="deco"/>

{% endblock %}
