{% include 'oeilglauque/base/header.html.twig' %}

        <main role="main" class="container">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </main><!-- /.container -->

{% include 'oeilglauque/base/footer.html' %}