{% extends 'base.html.twig' %}

{% block customcss %}
        <link rel="stylesheet" href="css/index.css"/>
{% endblock %}

{% block body %}

        <img src="img/index.png" alt="Le Festival de l'Oeil Glauque"/>

        <p class="lead">
                <strong>Oyez Voyageurs ! Bienvenue sur le site du Festival de l’Œil Glauque !</strong>
                <br/>
                Comment cela ? Vous ne savez point qui nous sommes ??? Nous sommes l'association de jeux de rôle et de jeux de plateau de l’INSA Rennes pardis ! 
                Et nous organisons chaque année un Festival de jeux où nos bénévoles seront ravis de t’accueillir pour te guider dans cette aventure de 48h.
                Alors rendez-vous à notre prochaine édition !
        </p>

        <img src="img/deco_bas.png" id="deco"/>

{% endblock %}
