{% extends 'base.html.twig' %}

{% block body %}

        <h1>Festival de l'&OElig;il Glauque</h1>
        <p class="lead">Jeux de rôle et jeux de plateau vous attendent à la quinzième édition du Festival de l'Oeil Glauque ! <br /> 
        
        Pendant 48h vous pourrez profiter de séances de jeux de rôle, découvrir notre ludothèque de plus de 150 jeux de plateau ou assister à des spectacles de magie. 
        Au cours du week-end n’hésitez pas à prendre part à une murder-party et à des tournois de Magic, Diplomatie ou Krosmaster. 
        Vous pourrez aussi tout simplement venir profiter de l'ambiance et de nos sandwichs, pizzas, burgers et autres friandises et boissons, 
        notamment nos crêpes et nos fameux 3D6 !
        </p>

        <img src="/img/affiche.jpg" class="affiche" alt="Affiche du festival" />

{% endblock %}