{% extends 'base.html.twig' %}

{% block body %}

        <main role="main" class="container">
            <h1>Le fog ? Mais qu'est-ce donc ?</h1>
            <p>Le Festival de l'Oeil Glauque (ou FOG) est une convention anuelle de jeux de rôles et de jeux de plateau organisée par l'Oeil Glauque, 
            club membre de l'amicale de l'INSA de Rennes. Le FOG se déroule généralement tous les octobres en début de mois pendant un week-end. 
            Vous pourrez participer à de nombreuses parties de jeux de rôles, venir tester plein de jeux de plateaux accessibles à tous allant du Loups-Garous 
            au Dominion en passant par le Jungle Speed ou le Bang ! <br />
            Il y aura aussi plusieurs animations pendant le week-end en plus des incontournables parties de Jeux de Rôles et de Jeux de plateaux :</p>

            <ul>
                <li>Une murder (soirée d'enquête à huis clos mêlant déduction et improvisation)</li>
                <li>Des conférences menées par des acteurs du monde rôliste</li>
                <li>Un concert !</li>
                <li>Deux drafts Magic : The Gathering</li>
                <li>Une buvette avec ce qu'il faut pour tenir tout le week-end : sandwiches, pizza, boissons, snacks, crèpes, café, thé, cocktails et nos fameux 3D6 !</li>
            </ul>

            <p>L'entrée du FOG est gratuite, vous permettant de participer aux jeux de plateaux librement. Le FOG vend aussi un pass JdR de 2€ pour être participer 
            à tous les Jeux de Rôles proposés durant le week-end. Vous pouvez trouver le planning détaillé des activités du week end <a href="">sur cette page !</a></p><br />

            <h2>Comment venir au FOG ?</h2>

            <p>La Halle Francis Querne se situe dans les locaux de l'INSA de Rennes, au 20 avenue des Buttes de Coësmes, 35700 Rennes.</p>
            <ul>
                <li><em>En bus</em> : Depuis l'arrêt République, vous pouvez prendre la ligne n°C4, direction ZA Saint Sulpice. 
                                    Descendez à l'arrêt Beaulieu - Restau U et suivez le fléchage jusqu'à la Halle.</li>
                <li><em>En voiture</em> : Rejoignez le campus de Beaulieu, vous pourrez vous garer sur le parking principal de l'école.</li>
            </ul>

        </main><!-- /.container -->

{% endblock %}