{% extends 'base.html.twig' %}

{% block customcss %}
        <link rel="stylesheet" href="css/infosFest.css"/>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/scrolledHeader.js') }}"></script>
{% endblock %}

{% block mainPage %}
    <section class="landing_page"></section>
{% endblock %}

{% block body %}

        <h1 class="titre">INFORMATIONS</h1>

        <h2>Le FOG ? Mais qu'est-ce donc ?</h2>
        <p>Le Festival de l'&OElig;il Glauque (ou FOG) est une convention annuelle de jeux de rôles et de jeux de plateau organisée par l'&OElig;il Glauque,
        club membre de l'Amicale de l'INSA Rennes. Le FOG se déroule généralement début octobre pendant tout un week-end.
        Vous pourrez participer à de nombreuses parties de jeux de rôle et venir tester plein de jeux de plateau accessibles à tout le monde allant du Loups-Garous
        au Dominion en passant par le Jungle Speed ou le Bang ! <br />
        Il y aura aussi plusieurs animations pendant le week-end en plus des incontournables parties de Jeux de Rôle et de Jeux de plateau :</p>

        <ul>
            <li>Des murder-party (soirée d'enquête à huis clos mêlant déduction et improvisation)</li>
            <li>Des tournois de Warhammer</li>
            <li>Des drafts Magic : The Gathering</li>
            <li>Des escape games</li>
            <li>Une buvette avec ce qu'il faut pour tenir tout le week-end : pizza, boissons, snacks, crêpes, café, thé, cocktails et nos fameux 3D6 !</li>
        </ul>

        <p>L'entrée du FOG est gratuite, et vous permet de participer aux jeux de plateau librement. Le FOG vend aussi des places pour des parties de JdR à 1€ la place pour participer
        à tous les Jeux de Rôles proposés durant le week-end. Vous pouvez trouver le planning détaillé des activités du week end <a href="{{ path('planning') }}">sur cette page !</a></p><br />

        <img src="img/deco_bas_clair.webp" id="deco_clair" alt="Deco" />

        <h2>Où ? Quand ? Comment ?</h2>

        <p>Le FOG se déroule généralement début octobre pendant tout un week-end à la Halle Francis Querné qui se situe dans les locaux de l'INSA de Rennes, au 20 avenue des Buttes de Coësmes, 35700 Rennes.</p>
        <p>Pour y accéder :</p>
        <ul>
            <li><em>En bus</em> : Depuis l'arrêt République, vous pouvez prendre la ligne n°C4, direction ZA Saint Sulpice. 
                                Descendez à l'arrêt Beaulieu - INSA et suivez le fléchage jusqu'à la Halle.</li>
            <li><em>En voiture</em> : Rejoignez le campus de Beaulieu, vous pourrez vous garer sur le parking principal de l'école.</li>
            <li><em>En métro</em> : Ligne b, descendre à Beaulieu - Université</li>
        </ul>

        <p><b>Attention</b> : Il est strictement interdit d’entrer dans le FOG avec des armes, bouteilles en verre, canettes, alcool, drogue… </p>

        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-1.6436040401458742%2C48.11897114533846%2C-1.6294419765472414%2C48.12542408180474&amp;layer=mapnik&amp;marker=48.1221977148992%2C-1.6365230083465576"></iframe>

        <img src="img/deco_bas_clair.webp" id="deco_clair" alt="Deco" />

        <h2>Partenaires</h2>

        <p>Merci à nos partenaires pour leur soutien&nbsp;!</p>

        <div id="sponsorWrapper">
            <a href="https://aeir.insa-rennes.fr">
                <img loading="lazy" alt="AEIR" src="img/partenaires/aeir.webp"/>
            </a>
            <a href="https://www.insa-rennes.fr">
                <img loading="lazy" alt="INSA Rennes" src="img/partenaires/insa.webp"/>
            </a>
            <a href="https://www.univ-rennes.fr">
                <img loading="lazy"  alt="Université de Rennes" src="img/partenaires/univ-rennes.webp"/>
            </a>
            <a href="https://www.lyf.eu/fr">
                <img loading="lazy" alt="Lyf pay" src="img/partenaires/lyfpay.webp"/>
            </a>
            <a href="http://editionsstellamaris.blogspot.com">
                <img loading="lazy"  alt="Stellamaris" src="img/partenaires/stellamaris.webp"/>
            </a>
            <a href="https://cvec.etudiant.gouv.fr/">
                <img loading="lazy"  alt="CVEC" src="img/partenaires/cvec.webp"/>
            </a>
            <a href="https://sortileges.fr">
                <img loading="lazy" alt="Sortilèges" src="img/partenaires/sortilege.webp"/>
            </a>
            <a href="https://www.iello.fr">
                <img loading="lazy" alt="Iello" src="img/partenaires/iello.webp"/>
            </a>
            <a href="https://www.rprod.com/fr">
                <img loading="lazy" alt="Repos éditions" src="img/partenaires/repos.webp"/>
            </a>
            <a href="https://www.librairie-critic.fr">
                <img loading="lazy" alt="Critics" src="img/partenaires/critic-noir.webp"/>
            </a>
            <a href="https://www.black-book-editions.fr">
                <img loading="lazy" alt="Blackbook éditions" src="img/partenaires/bbe.webp"/>
            </a>
            <a href="https://www.letempledujeu.fr">
                <img loading="lazy" alt="Temple du jeu" src="img/partenaires/tdj.webp"/>
            </a>
            <a style="flex: 0 0 auto" href="https://www.star.fr">
                <img loading="lazy" style="width: 100px" alt="STAR Rennes" src="img/partenaires/star.webp"/>
            </a>
            <a href="https://www.ankama.com">
                <img loading="lazy" alt="Ankama" src="img/partenaires/ankama.webp"/>
            </a>
            <a href="https://www.breizhloc.fr">
                <img loading="lazy" alt="Breizh loc" src="img/partenaires/breizhloc.webp"/>
            </a>
            <a href="https://francemurder.com">
                <img loading="lazy" alt="France Murder" src="img/partenaires/francemurder.webp"/>
            </a>
            <a href="https://scriptarium.org">
                <img loading="lazy" alt="Scriptarium" src="img/partenaires/scriptarium.webp"/>
            </a>
        </div>

{% endblock %}
