{% extends 'base.html.twig' %}

{% block body %}

        <h1 class="titre">
                Le club
        </h1>
        <h2>Le club de l'&OElig;il Glauque ?</h2>
        <p>
                L’&OElig;il Glauque est un club de jeux de plateau et de jeux de rôle membre de <a href="http://aeir.insa-rennes.fr/">l'amicale de l'INSA de Rennes</a>.
                Chaque année nous organisons un Festival dans la Halle Francis Querné qui vous ai présenté dans l’onglet <a href="{{ path('infosFest') }}">Festival</a>.
                Pour cela nous avons une équipe de bénévoles nommés “Helpers” qui ont pour mission de vous organiser un Festival de qualité en s’occupant de la buvette, de l’accueil, du concert etc...
                <br />
                Mais ce n’est pas notre seule activité !
                Tout au long de l’année nous organisons des soirées jeux de plateau, des jeux de rôle et des murders party dans l’enceinte de l’INSA.
                <br />
                N'hésitez pas à consulter les dernières infos du FOG ou à <a href="{{ path('contact') }}">nous contacter</a> pour toute remarque ou suggestion.
                Vous pouvez aussi nous suivre sur nos réseaux et nous rejoindre sur <a href="https://discord.gg/4cAVxqc">notre serveur Discord</a> !
        </p>


{% endblock %}
