{% extends 'base.html.twig' %}

{% block customcss %}
        <link rel="stylesheet" href="css/infosFest.css"/>
{% endblock %}

{% block body %}

        <h1 class="titre">INFORMATIONS</h1>

        <h2>Le fog ? Mais qu'est-ce donc ?</h2>
        <p>Le Festival de l'&OElig;il Glauque (ou FOG) est une convention anuelle de jeux de rôles et de jeux de plateau organisée par l'&OElig;il Glauque, 
        club membre de l'Amicale de l'INSA de Rennes. Le FOG se déroule généralement début octobre pendant tout un week-end. 
        Vous pourrez participer à de nombreuses parties de jeux de rôle et venir tester plein de jeux de plateaux accessibles à tous allant du Loups-Garous 
        au Dominion en passant par le Jungle Speed ou le Bang ! <br />
        Il y aura aussi plusieurs animations pendant le week-end en plus des incontournables parties de Jeux de Rôle et de Jeux de plateau :</p>

        <ul>
            <li>Des murder-party (soirée d'enquête à huis clos mêlant déduction et improvisation)</li>
            <li>Des tournois de Warhammer</li>
            <li>Des drafts Magic : The Gathering</li>
            <li>Une buvette avec ce qu'il faut pour tenir tout le week-end : pizza, boissons, snacks, crèpes, café, thé, cocktails et nos fameux 3D6 !</li>
        </ul>

        <p>L'entrée du FOG est gratuite, et vous permet de participer aux jeux de plateaux librement. Le FOG vend aussi des places pour des parties de JdR à 1€ la place pour participer 
        à tous les Jeux de Rôles proposés durant le week-end. Vous pouvez trouver le planning détaillé des activités du week end <a href="{{ path('planning') }}">sur cette page !</a></p><br />

        <img src="img/deco_bas_clair.png" id="deco_clair" alt="Deco" />

        <h2>Où ? Quand ? Comment ?</h2>

        <p>Le FOG se déroule généralement début octobre pendant tout un week-end à la Halle Francis Querné qui se situe dans les locaux de l'INSA de Rennes, au 20 avenue des Buttes de Coësmes, 35700 Rennes.</p>
        <p>Pour y accéder :</p>
        <ul>
            <li><em>En bus</em> : Depuis l'arrêt République, vous pouvez prendre la ligne n°C4, direction ZA Saint Sulpice. 
                                Descendez à l'arrêt Beaulieu - INSA et suivez le fléchage jusqu'à la Halle.</li>
            <li><em>En voiture</em> : Rejoignez le campus de Beaulieu, vous pourrez vous garer sur le parking principal de l'école.</li>
            <li><em>En métro</em> : Ligne b, descendre à Beaulieu - Université</li>
        </ul>

        <p><b>Attention</b> : Il est strictement interdit d’entrer dans le FOG avec des armes, bouteilles en verre, canettes, alcool, drogue… </p>

        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-1.6436040401458742%2C48.11897114533846%2C-1.6294419765472414%2C48.12542408180474&amp;layer=mapnik&amp;marker=48.1221977148992%2C-1.6365230083465576"></iframe>

        <img src="img/deco_bas_clair.png" id="deco_clair" alt="Deco" /> 

        <h2>Partenaires</h2>

        <p>Merci à nos partenaires pour leur soutien&nbsp;!</p>

        <div id="sponsorWrapper">
            <a href="https://aeir.insa-rennes.fr">
                <img alt="AEIR" src="img/partenaires/aeir.png"/>
            </a>
            <a href="https://www.insa-rennes.fr">
                <img alt="INSA Rennes" src="img/partenaires/insa.png"/>
            </a>
            <a href="https://www.societegenerale.com/fr">
                <img alt="Société Générale" src="img/partenaires/sogé.png"/>
            </a>
            <a href="https://www.lyf.eu/fr">
                <img alt="Lyf pay" src="img/partenaires/lyfpay.png"/>
            </a>
            <a href="http://editionsstellamaris.blogspot.com">
                <img alt="Stellamaris" src="img/partenaires/stellamaris.png"/>
            </a>
            <a href="https://sortileges.fr">
                <img alt="Sortilèges" src="img/partenaires/sortilege.png"/>
            </a>
            <a href="https://www.iello.fr">
                <img alt="Iello" src="img/partenaires/iello.png"/>
            </a>
            <a href="https://www.rprod.com/fr">
                <img alt="Repos éditions" src="img/partenaires/repos.png"/>
            </a>
            <a href="https://www.librairie-critic.fr">
                <img alt="Critics" src="img/partenaires/critic-noir.png"/>
            </a>
            <a href="https://www.black-book-editions.fr">
                <img alt="Blackbook éditions" src="img/partenaires/bbe.png"/>
            </a>
            <a href="https://www.letempledujeu.fr">
                <img alt="Temple du jeu" src="img/partenaires/tdj.png"/>
            </a>
            <a href="https://www.star.fr">
                <img alt="STAR Rennes" src="img/partenaires/star.svg"/>
            </a>
            <a href="https://www.ankama.com">
                <img alt="Ankama" src="img/partenaires/ankama.png"/>
            </a>
            <a href="https://www.breizhloc.fr">
                <img alt="Breizh loc" src="img/partenaires/breizhloc.png"/>
            </a>
            <a href="https://francemurder.com">
                <img alt="France Murder" src="img/partenaires/francemurder.png"/>
            </a>
            <a href="https://scriptarium.org">
                <img alt="Scriptarium" src="img/partenaires/scriptarium.png"/>
            </a>
        </div>

{% endblock %}
