{% extends 'base.html.twig' %}

{% block customcss %}
        <link rel="stylesheet" href="css/infosFest.css"/>
{% endblock %}

{% block body %}

        <h1 class="titre">INFORMATIONS</h1>

        <h2>Le fog ? Mais qu'est-ce donc ?</h2>
        <p>Le Festival de l'Oeil Glauque (ou FOG) est une convention anuelle de jeux de rôles et de jeux de plateau organisée par l'Oeil Glauque, 
        club membre de l'Amicale de l'INSA de Rennes. Le FOG se déroule généralement début octobre pendant tout un week-end. 
        Vous pourrez participer à de nombreuses parties de jeux de rôle et venir tester plein de jeux de plateaux accessibles à tous allant du Loups-Garous 
        au Dominion en passant par le Jungle Speed ou le Bang ! <br />
        Il y aura aussi plusieurs animations pendant le week-end en plus des incontournables parties de Jeux de Rôle et de Jeux de plateau :</p>

        <ul>
            <li>Une murder-party (soirée d'enquête à huis clos mêlant déduction et improvisation)</li>
            <li>Un escape game</li>
            <li>Des tournois de Warhammer</li>
            <li>Deux drafts Magic : The Gathering</li>
            <li>Une buvette avec ce qu'il faut pour tenir tout le week-end : sandwiches, pizza, boissons, snacks, crèpes, café, thé, cocktails et nos fameux 3D6 !</li>
        </ul>

        <p>L'entrée du FOG est gratuite, et vous permet de participer aux jeux de plateaux librement. Le FOG vend aussi un pass JdR de 2€ pour participer 
        à tous les Jeux de Rôles proposés durant le week-end. Vous pouvez trouver le planning détaillé des activités du week end <a href="{{ path('planning') }}">sur cette page !</a></p><br />

        <img src="img/deco_bas_clair.png" id="deco_clair"/>

        <h2>Où ? Quand ? Comment ?</h2>

        <p>Le FOG se déroule généralement début octobre pendant tout un week-end à la Halle Francis Querné qui se situe dans les locaux de l'INSA de Rennes, au 20 avenue des Buttes de Coësmes, 35700 Rennes.</p>
        <p>Pour y accéder :</p>
        <ul>
            <li><em>En bus</em> : Depuis l'arrêt République, vous pouvez prendre la ligne n°C4, direction ZA Saint Sulpice. 
                                Descendez à l'arrêt Beaulieu - Restau U et suivez le fléchage jusqu'à la Halle.</li>
            <li><em>En voiture</em> : Rejoignez le campus de Beaulieu, vous pourrez vous garer sur le parking principal de l'école.</li>
            <li><em>En métro (prochainement)</em> : Ligne b, descendre à Beaulieu - Université</li>
        </ul>

        <p><b>Attention</b> : Il est strictement interdit d’entrer dans le FOG avec des armes, bouteilles en verre, canettes, alcool, drogue… </p>

        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-1.6436040401458742%2C48.11897114533846%2C-1.6294419765472414%2C48.12542408180474&amp;layer=mapnik&amp;marker=48.1221977148992%2C-1.6365230083465576"></iframe>

        <img src="img/deco_bas_clair.png" id="deco_clair"/> 

        <h2>Partenaires</h2>

        <p>Merci à nos partenaires pour leur soutien&nbsp;!</p>

{% endblock %}
