{% extends 'base.html.twig' %}

{% block body %}

        <main role="main" class="container">
            <h1>Le club de l'&OElig;il Glauque ?</h1>
            Nous sommes un club de jeux de rôles et de plateaux, membre de <a href="http://aeir.asso.insa-rennes.fr/">l'amicale des élèves de l'INSA de Rennes</a>.
            Le club organise régulièrement des soirées de jeux au sein de l'école et met en place chaque année en automne le FOG (Festival de l'Oeil Glauque).
            Vous pourrez retrouver toutes les informations sur l'édition du FOG de cette année <a href="{{path('infosFest')}}">ici</a> ! 

            N'hésitez pas à consulter les dernières infos du FOG ou à <a href="{{path('contact')}}">nous contacter</a> pour toute remarque ou suggestion.
            Vous pouvez aussi nous joindre sur notre <a href="https://www.facebook.com/festival.oeil.glauque/">page facebook</a> !

        </main><!-- /.container -->

{% endblock %}