{% extends 'base.html.twig' %}

{% block body %}

        <h1>Réservations du local</h1>
        <p>
        Bienvenue sur cette page intrépide aventurier ! Ici nous vous proposons de venir emprunter des jeux dans notre Ludothèque
        <br />
        La réponse vous sera envoyée via l'adresse e-mail renseignée sur votre compte.
        </p>

    {{ form(form) }}

    <p>N'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> en cas de doute !</p>


{% endblock %}
