{% extends 'base.html.twig' %}

{% block body %}

        <main role="main" class="container">
            <p>Il n'est pas encore possible de se connecter à cette version du site. Notre équipe web travaille d'arrache-pied pour vous proposer un espace membre le plus rapidement possible !</p>
        </main><!-- /.container -->

{% endblock %}