{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/newGame.css"/>
{% endblock %}

{% block body %}

    <h1 class="titre small">{% if edit %}Mettre à jour{% else %}Proposer{% endif %} une partie</h1>
    <p>
        Vous pouvez utiliser les tags suivants dans la description :
        <ul>
            <li>
                <pre>*italique*</pre>: <span class="italic">italique</span></li>
            <li>
                <pre>**gras**</pre>: <span class="bold">gras</span></li>
            <li>
                <pre>__souligné__</pre>: <span class="underline">souligné</span></li>
            <li>
                <pre>#Titre</pre>: <span class="title">Titre</span>
            </li>
        </ul>
    </p>

    <div id="game-form">
        {{ form(form) }}
    </div>

    <p>
        Attention : Lorsque vous proposez une nouvelle partie, elle n'apparait pas en ligne immédiatement.
        Elle doit être validée par notre équipe avant d'être publiée, et apparaitra donc prochainement dans la liste des parties disponibles.
        N'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> en cas de doute !
    </p>

{% endblock %}
