{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/newGame.css"/>
{% endblock %}

{% block mainPage %}
    <section class="landing_page"></section>
{% endblock %}

{% block body %}
    <script src="{{ asset('js/scrolledHeader.js') }}"></script>

    <h1 class="titre small">{% if edit %}Mettre à jour{% else %}Proposer{% endif %} une partie</h1>
    <div class="alert alert-primary">
        Quelques informations importantes, meujeuter une partie est gratuit et vous permet de participer gratuitement à un autre jdr en tant que joueur !  
    </div>

    <p>
        Vous pouvez utiliser les tags Markdown suivants dans la description :
    </p>
    {% include('oeilglauque/shards/formatting-help.html.twig') %}

    <div id="game-form">
        {{ form(form) }}
    </div>

    <div class="alert alert-warning">
        Lorsque vous proposez une nouvelle partie, elle n'apparait pas en ligne immédiatement.
        Elle doit être validée par notre équipe avant d'être publiée.
        N'hésitez pas à <a style="color: black; text-decoration: underline" href="{{ path('contact') }}">nous contacter</a> en cas de doute !
    </div>

    <div class="alert alert-warning" role="alert">
        Les tags sont définitif, pour les modifiers n'hésitez pas à <a style="color: black; text-decoration: underline" href="{{ path('contact') }}">nous contacter</a>
    </div>
{% endblock %}
