{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/newGame.css"/>
{% endblock %}

{% block body %}

    <h1 class="titre small">{% if edit %}Mettre à jour{% else %}Proposer{% endif %} une partie</h1>
    <div class="alert alert-primary">
        Quelques informations importantes, meujeuter une partie est gratuit et vous permet de participer gratuitement à un autre jdr en tant que joueur !  
    </div>
    <p>
        Vous pouvez utiliser les tags Markdown suivants dans la description :
    </p>
    {% include('oeilglauque/shards/formatting-help.html.twig') %}

    <div id="game-form">
        {{ form(form) }}
    </div>

    <p>
        <b>Attention !</b> Lorsque vous proposez une nouvelle partie, elle n'apparait pas en ligne immédiatement.
        Elle doit être validée par notre équipe avant d'être publiée, et apparaitra donc prochainement dans la liste des parties disponibles.
        N'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> en cas de doute !
    </p>

{% endblock %}
