{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/news.css"/>
{% endblock %}

{% block body %}

    <h1 class="titre">News</h1>

    <div class="news">
        {% for n in news | reverse %}
            {{ include('oeilglauque/shards/news.html.twig', {'title': n.getTitle(), 'text': n.getText(), 'slug': n.getSlug()}) }}
        {% else %}
            <p class="no-news">
                Il n'y a pas encore de news à afficher...
            </p>
        {% endfor %}
    </div>

{% endblock %}
