{% extends 'base.html.twig' %}

{% block body %}

        <h1>Partenaires</h1>
        <p>Le Festival ne serait rien sans l'aide de tous nos partenaires. Merci à eux !</p><br /><br /><br />


        <div class="row">
            <div class="col-lg-4">
                <img src="/img/partenaires/insa.png" class="partenaire" />
            </div>
            <div class="col-lg-4">
                <img src="/img/partenaires/loutre.png" class="partenaire" />
            </div>
            <div class="col-lg-4">
                <img src="/img/partenaires/rennes1.png" class="partenaire" />
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-4">
                <img src="/img/partenaires/aeir.png" class="partenaire" />
            </div>
            <div class="col-lg-4">
                <img src="/img/partenaires/asmodee.png" class="partenaire" />
            </div>
            <div class="col-lg-4">
                <img src="/img/partenaires/campanile.png" class="partenaire" />
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-4">
                <img src="/img/partenaires/gamesworkshop.jpg" class="partenaire" />
            </div>
            <div class="col-lg-4">
                <img src="/img/partenaires/hdj.png" class="partenaire" />
            </div>
            <div class="col-lg-4">
                <img src="/img/partenaires/hublais.jpg" class="partenaire" />
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-4">
                <img src="/img/partenaires/ouestfrance.jpg" class="partenaire" />
            </div>
            <div class="col-lg-4">
                <img src="/img/partenaires/palais.jpg" class="partenaire" />
            </div>
            <div class="col-lg-4">
                <img src="/img/partenaires/ludopathes.jpeg" class="partenaire" />
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-4">
                <img src="/img/partenaires/sogé.png" class="partenaire" />
            </div>
            <div class="col-lg-4">
                <img src="/img/partenaires/star.png" class="partenaire" />
            </div>
            <div class="col-lg-4">
                <img src="/img/partenaires/TDJ.jpg" class="partenaire" />
            </div>
        </div><br />

{% endblock %}