{% extends 'base.html.twig' %}

{% block body %}

        <h1>Partenaires</h1>
        <p>Le Festival ne serait rien sans l'aide de tous nos partenaires. Merci à eux !</p><br /><br /><br />

        <div class="row align-items-center">
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/insa.png" class="partenaire" />
            </div>
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/courantsalternatifs.png" class="partenaire" />
            </div>
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/rennes1.png" class="partenaire" />
            </div>
        </div><br />
        <div class="row align-items-center">
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/aeir.png" class="partenaire" />
            </div>
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/loutreroliste.png" class="partenaire" />
            </div>
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/crous.png" class="partenaire" />
            </div>
        </div><br />
        <div class="row align-items-center">
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/sparow.jpg" class="partenaire" />
            </div>
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/hdj.png" class="partenaire" />
            </div>
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/stellamaris.jpg" class="partenaire" />
            </div>
        </div><br />
        <div class="row align-items-center">
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/sansdetour.png" class="partenaire" />
            </div>
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/since42.jpg" class="partenaire" />
            </div>
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/deadEnd.png" class="partenaire" />
            </div>
        </div><br />
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/sogé.png" class="partenaire" />
            </div>
            <div class="col-lg-4 d-flex">
                <img src="/img/partenaires/TDJ.jpg" class="partenaire" />
            </div>
        </div><br />

{% endblock %}