{% extends 'base.html.twig' %}

{% block customcss %}
	<link rel="stylesheet" href="/css/partenaires.css"/>
{% endblock %}

{% block body %}

	<div class="row center" id="partenaires">
		<h1 class="titre">
			Partenaires
		</h1>

		<p>
			Merci à nos partenaires pour leurs soutiens !
		</p>

		<!--
		<img src="img/partenaires/partenaire.png" usemap="#partos"/>

		<map name="partos">
			<area shape="rect" coords="0, 0, 280, 166" href="https://www.insa-rennes.fr/" alt="insa rennes"/>
			<area shape="rect" coords="280, 0, 557, 166" href="http://aeir.insa-rennes.fr/" alt="aeir"/>
			<area shape="rect" coords="557, 0, 834, 166" href="https://www.letempledujeu.fr/" alt="le temple du jeu"/>
			<area shape="rect" coords="834, 0, 1111, 166" href="http://www.lheuredujeu.fr/" alt="heure du jeu"/>

			<area shape="rect" coords="0, 166, 280, 332" href="https://www.univ-rennes1.fr/" alt="rennes1"/>
			<area shape="rect" coords="280, 166, 557, 332" href="" alt="aeir"/>
			<area shape="rect" coords="557, 166, 834, 332" href="https://magic.wizards.com/fr" alt="magic"/>
			<area shape="rect" coords="834, 166, 1111, 332" href="https://www.ubisoft.com/fr-fr/" alt="ubisoft"/>

			<area shape="rect" coords="0, 332, 280, 498" href="https://nordvpn.com/fr/" alt="nord vpn"/>
			<area shape="rect" coords="280, 332, 557, 498" href="https://www.epicgames.com/store/fr/" alt="epic games"/>
			<area shape="rect" coords="557, 332, 834, 498" href="https://www.culture.gouv.fr/" alt="le temple du jeu"/>
		</map>
		-->
	</div>

{% endblock %}
