{% extends 'base.html.twig' %}
{% block body %}
    {% if valid %}
        <h1>Bonjour {{ pseudo }} comme vous êtes étourdi, voici pour réinitialiser votre mot de passe</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% else %}
        <h1>ERROR 404. Page not found.</h1>
    {% endif %}
{% endblock %}