{% extends 'base.html.twig' %}

{% block body %}

        <main role="main" class="container">
            <h1>Photos</h1>
            <p>Les photos des anciennes éditions ne sont pas encore disponnibles. Pour les éditions les plus récentes, vous pouvez retrouver les photos officielles sur <a href="https://www.facebook.com/pg/festival.oeil.glauque/photos/?tab=albums">notre page Facebook</a> !</p>
        </main><!-- /.container -->

{% endblock %}