{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="titre">Planning</h1>
    <p>
        Les gobelins en charge du planning n'ont pas encore fini leur travail&nbsp;!
    </p>
{#    <div>#}
{#        <div class="row justify-content-center mb-3">#}
{#            <div class="col-lg d-flex mb-lg-0 mb-sm-3">#}
{#                <a href="/img/planning/vendredi.jpg">#}
{#                    <img alt="vendredi" src="/img/planning/vendredi.jpg" class="img-fluid"/>#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-lg d-flex">#}
{#                <a href="/img/planning/samedi.jpg">#}
{#                    <img alt="samedi" src="/img/planning/samedi.jpg"class="img-fluid"/>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row justify-content-center">#}
{#            <div class="col-lg d-flex mb-lg-0 mb-sm-3">#}
{#                <a href="/img/planning/dimanche.jpg">#}
{#                    <img alt="dimanche" src="/img/planning/dimanche.jpg" class="img-fluid"/>#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-lg d-flex">#}
{#                <a href="/img/planning/loterie.jpg">#}
{#                    <img alt="loterie" src="/img/planning/loterie.jpg"class="img-fluid "/>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
