{% extends 'base.html.twig' %}

{% block body %}

        <h1>Planning</h1>
        <p>Notre équipe est encore en train de préparer le planning du festival, revenez bientôt pour en savoir plus !</p>

{% endblock %}