{% extends 'base.html.twig' %}

{% block body %}

        <h1>Planning</h1>
        <p>Voici le planning orévisionnel du festival. Notez que des modifications de dernière minute pourront être ajoutées !</p>

        <img src="/img/planning.png" class="affiche" alt="Le planning n'a pas pu être chargé..." />

{% endblock %}