{% extends 'base.html.twig' %}

{% block body %}

        <main role="main" class="container">
            <h1>Planning</h1>
            <p>Notre équipe est encore en train de préparer le planning du festival, revenez bientôt pour en savoir plus !</p>

        </main><!-- /.container -->

{% endblock %}