{% extends 'base.html.twig' %}

{% block body %}

        <h1>Réservations du local</h1>
        <p>Il sera bientôt possible de réserver le local du club en ligne. En attendant, effectuez les réservations auprès du Bureau !</p>


{% endblock %}