{% extends 'base.html.twig' %}

{% block body %}

        <h1>{{ news.getTitle() }}</h1>
        <div class="row">
            <div class="col-lg-12">
                <p>{{ news.getText()|striptags('<br>,<em>,<b>,<u>,<h3>')|raw }}</p><br />
                <a href="{{ path('newsIndex') }}">Retour aux news</a>
            </div>
        </div>

{% endblock %}