{% extends 'base.html.twig' %}

{% block body %}

        <h1 class="titre small">Modification du profil</h1>
        <h2 class="center mb-5">{{ pseudo }}</h2>
        {{ form(form) }}

{% endblock %}
