{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/admin.css"/>
{% endblock %}

{% block body %}

        <h1>Nouvelle édition</h1>

        <div class="alert alert-warning" role="alert">
            <p>
                Attention ! Pour des raisons de performances (et de sécurité) la dernière édition n'est pas chargée directement en base de données. 
                Pour passer le site vers une nouvelle édition, il faut d'abord la créer en base sur cette page puis l'activer en modifiant le paramètre <code>current_edition</code>
                du fichier <span><code>config/services.yaml</code></span> et redéployer le site. En cas de doute, contactez le Webmaster. 
            </p>
            <br />
            <p>
                En créant une nouvelle édition, les parties acuellement présentes sur le site seront archivées et ne seront plus accessibles par les utilisateurs. 
                Les parties créées ensuite seront ratachées à cette nouvelle édition. Êtes vous sûrs de vouloir faire ça ? Si c'est le cas, entrez l'année et les dates de cette nouvelle édition : 
            </p>
        </div>
        
        <form method="GET" id="newEdition" action="{{ path('createEdition') }}">
            <div class="row">
                <div class="col-md-2"></div>
                <label for="annee" class="col-md-2">Année :</label>
                <input type="number" name="annee" id="annee" min="2018" max="2030" class="col-md-4" />
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <label for="dates" class="col-md-2">Dates :</label>
                <input name="dates" id="dates" class="col-md-4" />
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <label for="dates" class="col-md-2">Texte d'accueil :</label>
                <textarea name="homeText" id="homeText" class="col-md-4">
Jeux de rôle et jeux de plateau vous attendent à la Xème édition du Festival de l'Œil Glauque !
Pendant 48h vous pourrez profiter de séances de jeux de rôle, découvrir notre ludothèque de plus de 150 jeux de plateau ou assister à un concert de métal par le groupe XXXXX.
Au cours du week-end n’hésitez pas à prendre part à une murder-party, un escape game, ainsi qu'à des tournois de Magic ou Warhammer. 
Vous pourrez aussi tout simplement venir profiter de l'ambiance et de nos sandwichs, pizzas, burgers et autres friandises et boissons, notamment nos crêpes et nos fameux 3D6 !
                </textarea>
                <div class="col-md-4"></div>
            </div>
            <input type="submit" class="btn btn-danger" value="Valider" />
        </form>
        <br />
        <p>
            <a href="{{ path('admin') }}">Retour à l'interface d'administration</a>
        </p>

{% endblock %}