{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('oeilglauque/event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_event_index') }}">Retour à la liste</a>

    {{ include('oeilglauque/event/_delete_form.html.twig') }}
{% endblock %}
