@import url('https://fonts.googleapis.com/css?family=Andada');
@font-face {
	font-family: "Mirkwood_Chronicle";
	src: url('Mirkwood_Chronicle.ttf');
}

@font-face {
    font-family: "OldNewspaperTypes";
    src: url('OldNewspaperTypes.ttf');
}
@font-face {
    font-family: "BookAntiqua";
    src: url('book_ant.ttf');
}


/*
    The rules in this file are common to all pages, so take care when modifying them!
    Rules should be specified as much as possible in per-page stylesheets, so that the rules of one
    page do not impact other pages.
 */

body {
    background-color: #f5dcc0;
}

.container {
    padding: 0.5em 2em 2em 2em;
}

h1,h2 {
    margin-top: 0.5em;
    margin-bottom: 1em;	
}

h1 {
    color: #3d1921;
    font-family: 'Mirkwood_Chronicle', serif;
}

h2 {
    color: #973504;
    font-family: 'OldNewspaperTypes', serif;
}

h1.titre {
    font-family: 'Mirkwood_Chronicle', serif;
    color: #3d1921;
    font-size: 2em;
    text-align: center;

    background-image: url("/img/title_bg.png");
    background-size: 100% 100%;
    padding: 75px 0;
    display: block;
    margin: 1em auto;

    max-width: 800px;
}

h1.titre:first-letter {
    text-transform: uppercase;
}

.well {
    padding: 2em;
    background-color: #110E0E;
}

p {
    text-align: justify;
    text-justify: auto;
    font-family: 'Andada';
    color: #3d1921;
}

li {
    font-family: 'Andada';
    color: #3d1921;
}

a {
    color: #3d1921;
}

a:hover{
	color:#a4817b;
}

.center {
    margin: auto;
    text-align: center;
    display: block;
}

button {
    color: white;
    background-image: url(/img/bouton.png);
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-size: 150px, 50px;
}

.btn {
    text-shadow: none;
}

.btn:hover {
    text-shadow: none;
}

.btn-admin {
    margin-top: 20px;
}

hr {
    background-color: #eee;
    width: 90%;
    margin: 2em;
}

form {
    margin: 0.2em auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

form .row {
    margin-bottom: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#username {
	margin-left:auto;
	margin-right:auto;
}
#password {
	margin-left:auto;
	margin-right:auto;
}

input {
    color: black;
    background-color: #EEEEEE;
    border-radius: 5px;
}

select option {
    color: black;
    background-color: #EEEEEE;
}

.my-selectable {
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */ 
}
