@import url('https://fonts.googleapis.com/css?family=Andada');
@font-face {
	font-family: "Mirkwood_Chronicle";
	src: url('Mirkwood_Chronicle.ttf');
}

@font-face {
    font-family: "OldNewspaperTypes";
    src: url('OldNewspaperTypes.ttf');
}

body {
    background-color: #f5dcc0;
}

/* barre de navigation */
nav {
    background: #110E0E66;
    position: relative;
    z-index: 50;
}

.navbar-toggler {
    margin: 0;
}

nav li {
    margin: -10px 20px 0px 0px;
}

#menu{
    width: 40px;
    height: 40px;
}

.dropdown-menu {
    background-color: #110E0E;
    border: 1px solid black;
}

nav .dropdown-item {
    color: #C22B2B;
    text-shadow: #000 0 0;
}

nav .dropdown-item:hover {
    color: #EEEEEE;
    background-color: #110E0E;
}

#under-flag {
    margin-left: 15%;
    width: 301px;
}

ul {
    width: 100%;
}

.li-blank {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-toggler-icon {
    background-color: white;
}

#nav-right {
    margin-left: 0px;
    margin-right: 0px;
}

.smallform {
    width: 150px;
}

.smallform input {
    width: 100%;
    height: 1.5em;
    margin-bottom: 0.2em;
    border-radius: initial;
}

.smallform button {
    color: #EEEEEE;
    text-shadow: 2px 1px #C22B2B ;
    background-color: #0000004f;
    cursor: pointer;
    border: 2px solid #00000059;
    border-radius: 5px;
}

.smallform button:hover {
    transform: scale(0.9);
}

/* Menu */

menu {
    background: #fbecd8;
    color: #3d1921;
    text-align: center;
}

menu .item-menu-dropdown{
    color: #973504;
}

menu .item-menu-dropdown:hover{
    color: #973504;
}


/* Body */

.container {
    padding: 0.5em 2em 2em 2em;
}

.black {
    color: #000;
}

.redandblack {
    color: #C22B2B;
    text-shadow: 2px 1px #000;
}

h1,h2 {
    margin-top: 0.5em;
    margin-bottom: 1em;	
}

.well {
    padding: 2em;
    background-color: #110E0E;
}

p {
    text-align: justify;
    text-justify: auto;
    font-family: 'OldNewspaperTypes', sans-serif;
}

form {
    margin: 0.2em auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
a{
	color:white;
}

a:hover {
	color:white;
}

form .row {
    margin-bottom: 1em;
    width: 100%;
	margin-left:auto;
	margin-right:auto;
}
#username {
	margin-left:auto;
	margin-right:auto;
}
#password {
	margin-left:auto;
	margin-right:auto;
}

#user {
    width: 100%;
}

#registerLink {
    margin-top: 20px;
}

#registerLink {
    margin: 0 10px 0 10px;
}

.center {
    margin: auto;
    text-align: center;
    display: block;
}

input {
    color: black;
    background-color: #EEEEEE;
    border-radius: 5px;
}

select option {
    color: black;
    background-color: #EEEEEE;
}

button {
    color: white;
    background-image: url(/img/bouton.png);
    cursor: pointer;
	width:150px;
	height:50px;
	background-size:150px,50px;
}

.affiche {
    display: block;
    margin: auto;
    width: 70%;
}

table {
    width: 100%;
}

.btn:hover {
    text-shadow: none;
}

.btn-admin {
    margin-top: 20px;
}

hr {
    background-color: #EEEEEE;
    width: 90%;
    margin: 2em;
}

.btn {
    text-shadow: none;
}

.inline {
    display: inline;
}

.my-selectable {
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */ 
}

.ucp {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.5em;
}
