footer {
	background-image: url(/img/footer_img.webp);
	background-color: #c2987d;
	background-size: 100% 100%;
	padding: 2em 1em;
}

footer p {
	font-family: 'BookAntiqua', serif;
	text-align: center;
	color: #fbecd8;
}

footer p.copyright {
	font-family: 'OldNewspaperTypes', serif;
	color: #682828;
}

footer p:last-child {
	margin-bottom: 0;
}

/* Just in case some links are added */
footer a, footer a:hover {
	color: #fbecd8;
	text-shadow: #000 0 0;
}
