body{
	background-color: #FFF2DA;
}

.container{
	background-color: transparent;
}

hr {
	width: 100%;
	background-color: black;
	margin: 0;
}

.btn, .btn:hover {
	padding: 0.7em 1em;
}

label[inactive] {
	color: black;
	background-color: transparent;
}

ul {
	list-style-type: disclosure-closed;
}

#selectAllSlots, #selectAllTags {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.5rem 0;
}

.btn-filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-filters {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	.game-list-view {
		display: grid;
		grid-template-columns: 1fr 5fr;
		gap: 1rem;
	}

	.game {
		display: flex;
		justify-content: space-between;
	}

	.game-desc {
		flex: 1 1 60%;
	}

	.game-img {
		flex: 1 1 40%;
		align-self: center;
		padding-left: 1.5rem;
	}
}

@media (max-width: 992px) { 
	.btn, .btn:hover {
		padding: 0.4em 1em;
	}
}

@media (max-width: 768px) {
	.btn-filters {
		grid-template-columns: repeat(2, 1fr);
	}
}