hr {
	width: 100%;
	background-color: black;
	margin: 0;
}

.btn, .btn:hover {
	padding: 0.7em 1em;
}

label[inactive] {
	color: black;
	background-color: transparent;
}

ul {
	list-style-type: disclosure-closed;
}

@media (max-width: 992px) { 
	.btn, .btn:hover {
		padding: 0.1em 0.1em;
	}
}