/* Nom du festival et dates */
header {
	background-image: url(/img/header_bg.webp);
	background-size: 100% 100%;
	background-color: #3d1921;
	padding: 2em 0 3em 0;
	position: relative; /* Needed in order to absolutely position child elements */
}

header h1, header #date {
	text-align: center;
	font-family: 'Mirkwood_Chronicle', sans-serif;
	font-weight: 500; /* 400 is normal weight */
	color: white;
}

header h1 {
	font-size: 2em;
	margin-bottom: 1em;
}

header h1 a:hover {
	text-decoration: none;
}

header #date {
	font-size: 1.2em;
}

/* Boutons Inscription/Connexion */
#login {
	font-family: 'OldNewspaperTypes', sans-serif;
	font-size: 1.5em;
	position: absolute;
	right: 2%;
	top: 1em;
	color: white;
}

@media screen and (max-width: 1100px) {
	#login {
		position: static;
		text-align: center;
		margin-top: 2em;
	}
}

#login > a {
	margin: 0 0.2em;
}

#login .separator::after {
	content: "|";
}

header a {
	color: white;
}

header a:hover {
	color: white;
}


/* Bouton Menu */

header #menu-toggle {
	background-image: url(/img/menu.webp);
	background-size: 100% 100%;
	width: 40px;
	height: 35px;
	cursor: pointer;

	position: absolute;
	top: 33%;
	left: 10%;
}

@media screen and (max-width: 1100px) and (min-width: 750px) {
	header #menu-toggle {
		width: 30px;
		height: 25px;
		left: 5%;
	}
}

@media screen and (max-width: 750px) {
	header {
		padding-top: 1em;
	}

	header #date {
		font-size: 0.6em;
	}

	header #login {
		margin-top: 0.3em;
	}

	header #login a {
		font-size: 0.8em;
	}

	header #menu-toggle {
		width: 30px;
		height: 25px;
		top: 70%;
		left: 2%;
	}

	header h1 {
		margin: 5px 0;
		line-height: 30px;
	}

	header h1 a {
		font-size: 0.6em;
	}
}



