#particles-js{
    position: absolute;
    width: 100%;
    height: 94vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

body{
    background-color: #FFF2DA;
}

.container {
    background-color: inherit;
    padding: 0;
    width: 100vw;
    max-width: 100vw !important;
}

main {
    margin: 0 !important;
    padding: 0 !important;
}

img {
    width: 100%;
    height: auto;
    margin: 3em 0;
}

article{
    background-color: #FFF2DA;
    margin-bottom: 3em;
}

.article-reversed{
    background-color: #3D1A21;
    box-shadow: 0 4px 2px black;
    padding: 3em 0.6em 5em 0.6em;
}

.article-reversed p{
    color: #f5dcc0;
}

/* Section title */
.home-title{
    text-align: center;
    color: #3D1A21;
    margin-bottom: 0;
    font-size: 2.5em;
}

.home-title-reversed{
    color: #f5dcc0;
    margin-top: 0;
}

.title-img{
    text-align: center;
}

.title-img img{
    width: 50vw;
    margin: 0.6em 0 1em 0;
}

/* Landing page */
.landing_page{
    background-image: url(/img/indexBg.webp);
    background-size: cover;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.title{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 3s ease-in-out infinite;
}

.title #home_img{
    width: 25vw;
}

/** Description **/
#home_content{
    margin-top: 4%;
}

.lead {
    font-family: 'Andada', sans-serif;
    border-radius: 20px;
    text-align: start;
    width: 50vw;
}

#main-article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1em 0 1em;
    gap: 2em;
}

#main-article img{
    width: 25vw;
    min-width: 220px;
}

.lead a{
    font-style: italic;
    text-decoration: underline;
    transition: 0.2s zoom ease-in;
}

/** Video **/
.videoWrapper {
    overflow: hidden;
    position: relative;
    width:65%;
    margin: 0 auto;
}

.videoWrapper h2{
    width: 10%;
}

.videoWrapper::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.videoWrapper iframe {
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Partenaires */
#sponsorWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#sponsorWrapper img {
    width: auto;
    height: auto;
    margin: 20px 30px;
    max-width: 150px;
    max-height: 80px;
}


/** Contact **/
#contacts{
    margin-bottom: 0;
    padding: 3em 3em 5em 3em;
    text-align: center;
}

#contacts p{
    text-align: center;
    color: white
}

#contacts a{
    color: #f5dcc0;
}

#contacts ul {
    display: flex;
    margin: 1.5em 0 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

#contacts li {
    margin: 0 10px;
}

#contacts ul img {
    width: 60px;
    transition: 100ms 0ms ease-in-out;
    margin: 0;
}

#contacts ul img:hover {
    transform: scale(1.1);
}


/* Annimations */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.96);
    }
}

.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-animation.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Media queries */
@media (max-width: 1300px) {
    .title #home_img{
        width: 33%;
    }
}

@media (max-width: 900px) {
    .title #home_img{
        width: 36%;
    }
}

@media (max-width: 708px) {

    .videoWrapper {
        width:100%;
    }

    .videoWrapper iframe {
        border-radius: 15px;
    }

    .title-img img{
        width: 70vw;
    }

    .lead{
        font-size: 1em;
    }
}

@media (max-width: 480px){
    .title #home_img{
        width: 60%;
    }

    .lead{
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 570px) {
    #home_img{
        width: 30%;
    }

    .afficheWrapper img{
        width: 28%;
    }
}