body {
	/*background-color: #a1694d;*/
}

img {
	width: 50%;
	height: auto;
    margin: auto auto 3em auto;
    text-align: center;
    display: block;
}

iframe {
    margin: 3em auto;
    text-align: center;
    display: block;
    border: 7px solid #f7d0b0;
    width: 87%;
    height: 400px;
} 

#sponsorWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#sponsorWrapper img {
    width: auto;
    height: auto;
    margin: 20px 30px;
    display: block;
    max-width: 170px;
    max-height: 100px;
}