.shopSection {
    display: flex;
}

.listSection {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

form {
    margin: 0;
}

input {
    margin: 5px 0;
    width: 250px;
}

textarea {
    border-radius: 5px;
    color: black;
    background-color: #EEEEEE;
}

ul li, ul p {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 20px;
}

ul {
    padding: 0;
    margin-right: 30px;
}