.listSection {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

form {
    margin: 0;
}

input {
    margin: 5px 0;
    width: 250px;
}

textarea {
    border-radius: 5px;
    color: black;
    background-color: #EEEEEE;
}

#orderIndex ul li, #orderIndex ul p {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 20px;
}

ul {
    padding: 0;
    margin-right: 30px;
}

.itemAction {
    margin: 10px
}

.itemAction a:first-of-type {
    margin-right: 10px;
}

.itemAction a.btn, .orderAction a.btn {
    padding: 0.3em;
}

.orderAction {
    width: 350px;
}

.orderAction div a {
    margin: 0 30px;
}

.addItem {
    flex-direction: row;
}

.addItem input {
    flex-direction: row;
    margin: 0 15px;
}

.orderList tr {
    height: 50px;
    background: #f5dcc0;
}

.orderList tr:nth-child(odd) { 
    background: #cda694; 
}

.ok, .ko {
    font-weight: bold;
}

.ok {
    color: green;
}

.ko {
    color: #bb2d3b;
}

.total {
    margin-top: 20px;
}

li {
    font-family: system-ui;
}
