/* Form */
#game-form form>div {
	width: 100%;
	max-width: 900px;
	margin-bottom: 2em;
}

#game-form label:not(.form-check-label) {
	text-align: right;
	/* Overriding bootstrap style */
	flex: 0 0 25%;
	max-width: 25%;
}

#game-form label.form-check-label {
	margin-left: 0.5em;
	width: 80%;
}

#game-form label+div {
	/* Overriding bootstrap style */
	flex: 0 0 75%;
	max-width: 75%;
}


#game-form textarea {
	height: 200px;
}