@import url('https://fonts.googleapis.com/css?family=Andada');

/* Header */

#main {
    text-align: center;
}

body {
    background-color: #181514;
}

* {
    color: #EEEEEE;
    font-family: 'Andada', sans-serif;
}

a {
    color: #EEEEEE;
    text-shadow: 2px 1px #C22B2B ;
}

a:hover {
    color: #C22B2B;
    text-shadow: 2px 1px #EEEEEE;
}

pre {
    color: #EEEEEE;
    display: inline;
}

header {
    background-image: url(/img/header_bg.png);
    background-repeat: repeat-x;
    background-position-y: 88%; 
    background-color: #181514;
}

#banner{
    height: 150px;
}

#flag {
    background-image: url(/img/flag_header.png);
    width: 301px;
    height: 252px;
    z-index: 100;
    position: absolute;
    left: 70px;
    background-position-y: 100%;
}

@media screen and (max-width: 1500px) {
    #flag {
        left: 20px;
    }
}

#fest {
    background-image: url(/img/fest.png);
    width: 301px;
    z-index: 95;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: center;
}

#dates {
    font-size: 1.5em;
    text-align: center;
    width: 301px;
    margin-top: 6px;
}

#connexion {
    background-image: url(/img/connexion_back.png);
    background-position-y: 95%;
    background-repeat: no-repeat;
    font-size: 1em;
    width: 207px;
    z-index: 35;
    margin-right: 3.5em;
}

nav {
    background: #110E0E66;
    position: relative;
    z-index: 50;
}

.navbar-toggler {
    margin: 0px 0px 0px 0px;
}

nav li {
    margin: -10px 20px 0px 0px;
}

nav a {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 5px;
}

#menu{
    width: 40px;
    height: 40px;
}

.dropdown-menu {
    background-color: #110E0E;
    border: 1px solid black;
}

nav .dropdown-item {
    color: #C22B2B;
    text-shadow: #000 0 0;
}

nav .dropdown-item:hover {
    color: #EEEEEE;
    background-color: #110E0E;
}

#under-flag {
    margin-left: 15%;
    /*border: 1px solid red;*/
    width: 301px;
}

ul {
    width: 100%;
}

.li-blank {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-toggler-icon {
    background-color: white;
}

#nav-right {
    margin-left: 0px;
    margin-right: 0px;
}

#sub-banner {
    background-image: url(/img/back_menu.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #000;
    height: 228px;
    display: none;
}

.smallform {
    width: 150px;
}

.smallform input {
    width: 100%;
    height: 1.5em;
    margin-bottom: 0.2em;
    border-radius: initial;
}

.smallform a {
    font-size: 0.7em;
}



/* Footer */

footer {
    background-image: url(/img/footer_repeat.png);
    min-height: 230px;
    padding: 30px;
    text-align: center;
}

footer p {
    color: #3E3D3D;
}

footer a {
    color: #3E3D3D;
    text-shadow: #000 0 0;
}

footer a:hover {
    color: #3E3D3D;
    text-shadow: #000 0 0;
}



/* Body */

.container {
    padding: 0.5em 2em 2em 2em;
}

.red {
    color: #C22B2B;
}

.black {
    color: #000;
}

.redandblack {
    color: #C22B2B;
    text-shadow: 2px 1px #000;
}

h1,h2 {
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #C22B2B;
    text-shadow: 2px 1px #000;
}

.well {
    padding: 2em;
    background-color: #110E0E;
}

p {
    text-align: justify;
    text-justify: auto;
}

form {
    margin: 0.2em auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .row {
    margin-bottom: 1em;
    width: 100%;
}

#user{
    width: 100%;
}

#registerLink{
    margin-top: 20px;
}

#registerLink a{
    margin: 0 10px 0 10px;
}

.center {
    margin: auto;
    text-align: center;
    display: block;
}

input {
    color: black;
    background-color: #EEEEEE;
    border-radius: 5px;
}

select option {
    color: black;
    background-color: #EEEEEE;
}

button {
    color: black;
    background-color: #c5c5c5;
    cursor: pointer;
}

.affiche {
    display: block;
    margin: auto;
    width: 70%;
}

table {
    width: 100%;
}

.btn:hover {
    text-shadow: none;
}

.btn-admin {
    margin-top: 20px;
}

hr {
    background-color: #EEEEEE;
    width: 90%;
    margin: 2em;
}

.btn {
    text-shadow: none;
}

.inline {
    display: inline;
}

.partenaire {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .partenaire {
        width: 50%;
        margin: 5px auto;
    }
}

.my-selectable {
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */ 
}

.ucp {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.5em;
}