/* Client reservation */

.landing_page{
	background-image: url(/img/indexBg.webp);
	background-size: cover;
	height: 17vh;
	background-position: bottom;
	background-repeat: no-repeat;
}

body{
	background-color: #FFF2DA;
}

.container{
	background-color: transparent;
}


/* form*/
.ts-wrapper .option .title {
	display: block;
	font-size: 0.85rem;
}
.ts-wrapper .option .state{
	font-style: italic;
}

.unknown_state{color: lightgray;}
.excellent_state{color: green;}
.bad_state{color: #e52222;}
.good_state{color: #00d300;}
.medium_state{color: #ffdb00;}

.ts-wrapper .option .secondary-container{
	display: flex;
	gap: 1rem;
}

.ts-wrapper .option .secondary-el {
	display: block;
	font-size: 0.7rem;
	color: #a0a0a0;
}

.ts-wrapper .option{
	text-align: start;
}

label{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}



.styled-input-single{
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.row{
	max-height: 450px;
	max-width: 70%;
	overflow-y: auto;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#price-container{
	margin-bottom: 3%;
}

.row::-webkit-scrollbar {
	width: 8px;
}

.row::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.row::-webkit-scrollbar-thumb {
	background: #888;
}

.row::-webkit-scrollbar-thumb:hover {
	background: #555;
}

table.reservation {
	width: 100%;
}

span.select2-container {
	width: 100% !important;
}


table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#reservation-content{
	margin-top: 5%;
	margin-bottom: 5%;
}

#reservation{
	background-color: #3D1A21;
	box-shadow: 4px 4px 0 black;
	border-radius: 20px;
	padding: 1.3vh 0 1.3vh 0;
	margin: 0;
}

section #desc{
	font-size: 1.2em;
	text-align: center;
}

#reservation label, #reservation p{
	color: white;
	font-size: 1em;
}

/* Media Queries */

@media screen and (min-width: 992px) {
	#reservation-content {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 5%;
		gap: 10em;
	}

	#reservation{
		width: 40vw;
	}

	#reservation label, #reservation p{
		color: white;
		font-size: 1em;
	}

	#reservation-content #desc{
		width: 40%;
	}
}

@media screen and (max-width: 1400px) {
	.landing_page{
		height: 12vh;
	}
}

@media screen and (max-width: 480px) {
	.landing_page{
		height: 8vh;
	}
}


@media screen and (max-width: 750px) {
	tr td:nth-child(2), tr td:nth-child(3), tr td:nth-child(4) {
		display: none;
	}
	
	th:nth-child(2), th:nth-child(3), th:nth-child(4) {
		display: none;
	}

	.row{
		max-width: 100%;
	}

	.styled-input-single{
		padding: 2%;
	}

	.game_state{
		padding: 0.5% 2% 0.5% 2%;
	}
}
