/* form*/
.row{
	max-height: 200px;
	max-width: 60%;
	overflow-y: auto;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.form-check-label{
	width: 100%;
}

#price-container{
	margin-bottom: 6%;
}

.styled-input-single{
	border-bottom: 1px solid #ccc;
}

.row::-webkit-scrollbar {
	width: 8px;
}

.row::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.row::-webkit-scrollbar-thumb {
	background: #888;
}

.row::-webkit-scrollbar-thumb:hover {
	background: #555;
}

table.reservation {
	width: 100%;
}

span.select2-container {
	width: 100% !important;
}


table tr:nth-child(even) {
	background-color: #f2f2f2;
}

@media screen and (max-width: 750px) {
	tr td:nth-child(2), tr td:nth-child(3), tr td:nth-child(4) {
		display: none;
	}
	
	th:nth-child(2), th:nth-child(3), th:nth-child(4) {
		display: none;
	}
}
