<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/oeilglauque.css" />
        <title>Oeil Glauque</title>
    </head>
    <body>
        
        <header>
            <div class="d-none d-lg-block" id="flag">
                <div id="title"></div>
                <div id="oeil"></div>
            </div>
            <div class="d-none d-lg-block" id="connexion">

            </div>
            <div id="cthulhu" class="d-none d-xl-block"></div>
            <div id="fest">
                <div id="dates">{{ dates }}</div>
            </div>
        </header>

        <nav class="navbar navbar-expand-md">
            <span id="under-flag" class="d-none d-lg-block"></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Festival</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Club</a>
                    </li>
                    <li class="li-blank">
                    
                    </li>

                    <li class="nav-item" id="nav-right">
                        <a class="nav-link" href="#">Inscription</a>
                    </li>
                    <li class="li-blank"></li>
                    <!--<li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>-->
                    
                </ul>
            </div>
        </nav>

        <div id="sub-banner">

        </div>