{% extends 'base.html.twig' %}

{% block title %}Nouvelle Affiche{% endblock %}

{% block customcss %}
    <link rel="stylesheet" href="/css/basicpage.css"/>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/scrolledHeader.js') }}"></script>
{% endblock %}

{% block mainPage %}
    <section class="landing_page"></section>
{% endblock %}

{% block body %}
    <h1>Nouvelle Affiche</h1>

    {{ include('oeilglauque/poster/_form.html.twig') }}

    <a href="{{ path('app_poster_index') }}">Retour à la liste</a>
{% endblock %}