{% extends 'oeilglauque/emails/emailTemplate.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
	<p>Bonjour {{ user.getPseudo() }} !</p>

	<p>Une demande de réinitialisation de mot de passe pour votre compte a été effectué. Si vous n'avez pas fait cette demande, ignorez ce message.</p>
	<p>Le lien pour réinitialiser : <a href="{{ url }}">{{ url }}</a></p>
{% endblock %}


