<p>
Bonjour {{ reservation.getAuthor().getPseudo() }},
</p>

<p>
Malheureusement, il nous est impossible de satisfaire votre demande de réservation du {{ reservation.getDate().format("D j M Y") }} à {{ reservation.getTime().format("H:m") }}.
</p>

<p>
Pour rappel, le motif était :
{{ reservation.getMotif() }}
</p>

<p>Foguement</p>