<div class="games" {{ attributes }}>
    <input
            type="search"
            data-model="query"
            placeholder="Rechercher un JDR..."
    >

    <div class="game-list">
        {% for g in this.games %}
            {{ include('oeilglauque/shards/game.html.twig',
                {
                    'game': g
                })
            }}
        {% else %}
            <p>Aucun résultat ne correspond à votre recherche...</p>
        {% endfor %}
    </div>
</div>